PORT=8787
TIKTOK_BASE_URL=https://open-api.tiktokglobalshop.com
TIKTOK_PRODUCTS_PATH=/product/202309/products/search
TIKTOK_AUTH_URL=https://services.tiktokshop.com/open/authorize
TIKTOK_TOKEN_PATH=/authorization/202309/token/get
TIKTOK_REFRESH_PATH=/authorization/202309/token/refresh
